@media screen and (max-width: calc(932em/ 16)) {
	html {
		font-size: 60%;
	}
}

@media screen and (max-width: calc(832em/ 16)) {
	.game-loop-view .players-ctr {
		gap: 4.8rem;
	}

	.game-loop-view .players-ctr {
		flex-wrap: wrap;
	}
}

@media screen and (max-width: calc(370em/ 16)) {
	.game-loop-view .board {
		--cell-width: 2.7rem;
		--cell-height: 2.7rem;
	}
}

@media screen and (max-width: calc(320em/ 16)) {
	.game-loop-view .board {
		--cell-width: 2.6rem;
		--cell-height: 2.6rem;
	}
}
