<section class="view bordered shadowed game-mode-view">
	<header class="header">
		<div class="icon">⚙</div>
		<h2>game mode</h2>
	</header>
	<div class="content">
		<div class="game-mode-options">
			<button class="game-mode-option game-mode-option--single selected">single</button>
			<button class="game-mode-option game-mode-option--multi">multi</button>
			<button class="game-mode-option game-mode-option--bots">bots 😄</button>
		</div>

		<div class="player-names">
			<input type="text" class="player-name-input player1-name-input" placeholder="First player name, optional" />
			<input type="text" class="player-name-input player2-name-input" placeholder="Second player name, optional" />
		</div>

		<div class="grid-ships-options"></div>
	</div>
	<div class="actions">
		<button class="view-action--next">next</button>
	</div>
</section>
