@media screen and (max-width: calc(432em/ 16)) {
	.ship-placement-view .dropdown-menu-ctr {
		position: relative;
	}
}

@media screen and (max-width: calc(359em/ 16)) {
	.ship-placement-view .cell {
		--cell-width: 2.4rem;
		--cell-height: 2.4rem;
	}
}

@media screen and (max-width: calc(319em/ 16)) {
	.ship-placement-view .cell {
		--cell-width: 2rem;
		--cell-height: 2rem;
	}
}
